*{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 0 .5rem 0 .5rem;
    background-color: rgb(44, 117, 181);
    position: sticky;
    top: 0;
    z-index: 1;
    height: max-content;
}

.cartWish{
    margin-top: .3rem;
    display: flex;
    justify-content: space-around;
    width:15vw;
}

.btn{
    border-radius: 5px;
    margin:7px 0 7px 0;
}

.search{
    justify-content: center;
    height:2rem;
    width:30vw;
    align-items: center;
    border-radius: 5px;
    color:black;
    background-color:white;
}
.WebName{
    color: aliceblue;
    font-size: 1.4rem;
    width: max-content;
    height: 1.9rem;
    
}

/* new Header */

.Rel{
    position: relative;
}
.badge {
    font-size: .8rem;
    background-color:darkblue;
    padding: .3rem .3rem;
    border-radius: 50%;
    color: white;
    position: absolute;
    left:1rem;
    top: -0.1rem;
}

.icons{
    color: aliceblue;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

