* {
  box-sizing: border-box;
}
:root{
  --black:black;
  --white:white;
  --darkgray:darkgray;
  --orange:orange;
  --blue:blue;
  --grey:grey;
  --aqua:aqua;
}
ul ol {
  list-style: none;
}
a {
  text-decoration: none;
}
